name: .NET

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Build TrustAnchor
      run: |
        mkdir TrustAnchor
        cd TrustAnchor
        dotnet new -i Neo3.SmartContract.Templates::1.5.0
        dotnet new neo3-contract
        sed "s/\[TODO\]: ARGS/${{ secrets.DEFAULTOWNER }}/g" ../TrustAnchor.cs > TrustAnchor.cs
        dotnet build
        mv bin/sc/* ./
        rm -rf bin
        rm -rf obj
    - name: Build TrustAnchorGovernanceToken
      run: |
        mkdir TrustAnchorGovernanceToken
        cd TrustAnchorGovernanceToken
        dotnet new -i Neo3.SmartContract.Templates::1.5.0
        dotnet new neo3-contract
        sed "s/\[TODO\]: ARGS/0x82450b644631506b6b7194c4071d0b98d762771f/g" ../TrustAnchorGovernanceToken.cs > TrustAnchorGovernanceToken.cs
        dotnet build
        mv bin/sc/* ./
        rm -rf bin
        rm -rf obj
    - name: Build TrustAnchorAgent0
      run: |
        mkdir TrustAnchorAgent0
        cd TrustAnchorAgent0
        dotnet new -i Neo3.SmartContract.Templates::1.5.0
        dotnet new neo3-contract
        sed "s/\[TODO\]: ARGS/${{ secrets.TRUSTANCHOR }}/g" ../TrustAnchorAgent.cs > TrustAnchorAgent0.cs
        dotnet build
        mv bin/sc/* ./
        rm -rf bin
        rm -rf obj
    - name: Build TrustAnchorAgent1
      run: |
        mkdir TrustAnchorAgent1
        cd TrustAnchorAgent1
        dotnet new -i Neo3.SmartContract.Templates::1.5.0
        dotnet new neo3-contract
        sed "s/\[TODO\]: ARGS/${{ secrets.TRUSTANCHOR }}/g" ../TrustAnchorAgent.cs > TrustAnchorAgent1.cs
        dotnet build
        mv bin/sc/* ./
        rm -rf bin
        rm -rf obj
    - name: Build TrustAnchorAgent2
      run: |
        mkdir TrustAnchorAgent2
        cd TrustAnchorAgent2
        dotnet new -i Neo3.SmartContract.Templates::1.5.0
        dotnet new neo3-contract
        sed "s/\[TODO\]: ARGS/${{ secrets.TRUSTANCHOR }}/g" ../TrustAnchorAgent.cs > TrustAnchorAgent2.cs
        dotnet build
        mv bin/sc/* ./
        rm -rf bin
        rm -rf obj
    - name: Build TrustAnchorAgent3
      run: |
        mkdir TrustAnchorAgent3
        cd TrustAnchorAgent3
        dotnet new -i Neo3.SmartContract.Templates::1.5.0
        dotnet new neo3-contract
        sed "s/\[TODO\]: ARGS/${{ secrets.TRUSTANCHOR }}/g" ../TrustAnchorAgent.cs > TrustAnchorAgent3.cs
        dotnet build
        mv bin/sc/* ./
        rm -rf bin
        rm -rf obj
    - name: Release
      run: |
        git config --global user.email "trustanchor@trustanchor.github.io"
        git config --global user.name "trustanchor"
        git checkout -b release
        git add .
        git commit -m 'release'
        git push -f origin release
