name: .NET Build

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Install Neo Compiler
        run: dotnet tool install --global Neo.Compiler.CSharp --version 3.8.1

      - name: Build and Test Contract
        run: |
          cd contract/TrustAnchor.Tests
          dotnet build
          dotnet test --no-build --verbosity normal

      - name: Build TEE Projects
        run: |
          dotnet build TEE/LibHelper/LibHelper.csproj
          dotnet build TEE/LibRPC/LibRPC.csproj
          dotnet build TEE/LibWallet/LibWallet.csproj
          dotnet build TEE/KeyGenerator/KeyGenerator.csproj
          dotnet build TEE/TrustAnchorClaimer/TrustAnchorClaimer.csproj
          dotnet build TEE/TrustAnchorRepresentative/TrustAnchorRepresentative.csproj

      - name: Release
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
        run: |
          git config --global user.email "trustanchor@trustanchor.github.io"
          git config --global user.name "trustanchor"
          git checkout -b release
          git add .
          git commit -m 'release'
          git push -f origin release
