name: TrustAnchorClaimer

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,6,12,18 * * *"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore TrustAnchor/TrustAnchor.sln

      - name: Run Claimer
        run: dotnet run --project TrustAnchor/TrustAnchorClaimer
        env:
          WIF: ${{ secrets.TEEWIF }}
          RPC: ${{ secrets.RPC_TESTNET }}
          TRUSTANCHOR: ${{ secrets.TRUSTANCHOR }}
          THRESHOLD: 17179869184
